<div id="st-container" class="st-container">
<!-- content push wrapper -->
<div class="st-pusher">
	<!-- example menus these menus will be under the push wrapper -->
	<nav class="st-menu st-effect-3" id="menu-3">
		<div class="title">
		<h1>Wealth Maxtor</h1>
		<h2>Think Smart, Build Wealth</h2>
		</div>
		<ul>
			<li><a href="{{site.baseurl}}/">Home</a></li>
			<li><a href="{{site.baseurl}}/company.html">Company</a></li>
			<li><a href="{{site.baseurl}}/b2bsolution.html">B2B Solution</a>
				<ul>
					<li><a href="{{site.baseurl}}/b2bsolution.html#financial">Financial Services</a></li>
					<li><a href="{{site.baseurl}}/b2bsolution.html#startup">Start Up Companies</a></li>
				</ul></li>
			<li><a href="{{site.baseurl}}/wealth-principles.html">Wealth Principles</a></li>
			<li><a href="{{site.baseurl}}/referrals.html">Referrals</a></li>
			<li><a href="{{site.baseurl}}/#contact-us">Contact Us</a></li>
		</ul>
	</nav>