-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?uz62ew');
	src:url('../fonts/icomoon.eot?#iefixuz62ew') format('embedded-opentype'),
		url('../fonts/icomoon.woff?uz62ew') format('woff'),
		url('../fonts/icomoon.ttf?uz62ew') format('truetype'),
		url('../fonts/icomoon.svg?uz62ew#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

html {
  margin: 0;
  padding: 0;
  font: normal 100%/1.4 'Merriweather' sans-serif;
  background-image: url('../img/bg.jpg');
  background-size: cover;
}

body {
  margin: 0 auto;
  padding: 0;
  background-color: rgba(0,0,0,0.4);
}

.flex-logo {
	width: 100%;
	vertical-align: text-bottom;
	max-width: 273px;
}

/* BASE STYLES */
.flex-img {
	display: block;
	width: 100%;
}
.app {
	color: #FFF;
}
h2 {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 2.5em;
	margin: 0;
	color: #6FA816;
	text-transform: uppercase;
	line-height: initial;
}

.body {
	margin: 0;
	font-weight: 100;
}

/* NAVIGATION */
h1 {
	font-family: 'Lato', sans-serif;
	text-transform: uppercase;
	font-weight: 300;
	padding: 0 0.5em;
	font-size: 1.8em!important;
	margin: 0!important;
	color: #476B0E;
}

.title h2 {
	font-family: 'Lato', sans-serif;
	text-transform: uppercase;
	font-weight: 600;
	padding: 0 1em;
	font-size: 1em!important;
	margin: 0;
	color: #EAEAEA;
}

.title {
	padding: 2em 0;
}

#st-trigger-effects {
text-align: right;
padding: 17px 0;
}

button:before {
content: "\e601";
font-family: 'icomoon';
font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.st-menu-open button:before {
	display: none;
}	
.st-menu-open button:after {
	content: "\e600";
font-family: 'icomoon';
font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* APPS */
.app .flex-img {
	width: 45%;
	margin: 0 auto;
}
.app .content {
}
.app .body {
	font-size: 1.5em;
}