-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?uz62ew');
	src:url('../fonts/icomoon.eot?#iefixuz62ew') format('embedded-opentype'),
		url('../fonts/icomoon.woff?uz62ew') format('woff'),
		url('../fonts/icomoon.ttf?uz62ew') format('truetype'),
		url('../fonts/icomoon.svg?uz62ew#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

html {
  margin: 0;
  padding: 0;
  font: normal 100%/1.4 'Merriweather' sans-serif;
  background-image: url('../img/bg.jpg');
  background-size: cover;
}

body {
  margin: 0 auto;
  padding: 0;
  background-color: rgba(0,0,0,0.4);
}

.flex-logo {
	width: 100%;
	vertical-align: text-bottom;
	max-width: 273px;
	padding: 1em;
}

.mobile {
	display: block;
}

.desktop {
	display: none;
}

/* BASE STYLES */
.flex-img {
	display: block;
	width: 100%;
}
.app {
	color: #FFF;
}

	h2 {
font-family: 'Lato', sans-serif;
font-weight: 300;
font-size: 2.5em;
margin: 0;
color: #6FA816;
text-transform: uppercase;
line-height: initial;
letter-spacing: -2px;
padding-bottom: 0.3em;
}

.body {
	margin: 0;
	font-weight: 100;
	text-align: justify;
}

.body:last-child {
padding-bottom: 0;
}

.content strong {
	font-family: 'Lato', sans-serif;
}

/* HEADER & NAVIGATION */
h1 {
	font-family: 'Lato', sans-serif;
	text-transform: uppercase;
	font-weight: 300;
	padding: 0 0.5em;
	font-size: 1.8em!important;
	margin: 0!important;
	color: #476B0E;
}

.title h2 {
	font-family: 'Lato', sans-serif;
	text-transform: uppercase;
	font-weight: 600;
	padding: 0 1em;
	font-size: 1em!important;
	margin: 0;
	color: #EAEAEA;
	letter-spacing: 0;
}

.title {
	padding: 2em 0;
}

header {
  	position: fixed;
  	width: 100%;
  	box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  	-webkit-transition: height 0.3s;
  	-moz-transition: height 0.3s;
  	-ms-transition: height 0.3s;
  	-o-transition: height 0.3s;
  	transition: height 0.3s;
	margin: -1em;
	background: rgba(0,0,0,0.8);
}

#st-trigger-effects {
text-align: right;
}

button:before {
content: "\e601";
font-family: 'icomoon';
font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.st-menu-open button:before {
	display: none;
}	
.st-menu-open button:after {
	content: "\e600";
font-family: 'icomoon';
font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* PARALLAX */
#slide1, #slide2{ width: 100%; }

#slide1{
	color: #fff;
	height: 100%;
	margin: 0;
	background-size: contain;
	padding: 16em 0 0;
}

#slide2{
	background-color: #6FA816;
	color: #FFF;
	margin: 0 auto;
	overflow: hidden;
}

#slide3{
	background: url(../img/slide3.jpg) 50% 0 no-repeat fixed;
	color: #fff;
	height: 600px;
	padding: 170px 0 0 0;	
	background-size: cover;
}

#slide4{
	background-color: #fff;
	color: #333333;
	height: 300px;
	padding: 200px 0;
}

#slide5{
	background: url(../img/slide5.jpg) 50% 0 no-repeat fixed;
	height: 200px;
	margin: 0 auto;
	padding: 250px 0;
	color: #fff;
	background-size: cover;
}

/* APPS */
.app .flex-img {
	width: 100%;
border: 1px #8D8D8D solid;
padding: 0.8em;
opacity: 0.8;
filter: alpha(opacity=80);
transition: opacity 0.5s ease;
display: inline-block;
vertical-align: middle;
margin-bottom: 0.5em;
}

.app .appstore-img {
	width: 100%;
border: 1px #8D8D8D solid;
padding: 0.5em 0.8em;
opacity: 0.8;
filter: alpha(opacity=80);
transition: opacity 0.5s ease;
display: inline-block;
vertical-align: middle;
}

.app .flex-img:hover,
.app .appstore-img:hover {
	opacity: 1;
	border-color: #6FA816;
}

.app .content {
}
.app .body {
	font-size: 1.5em;
	padding-bottom: 1em;
	text-align: left;
}

/* COMPANY */
.company #slide1{
	background:	none;
	color: #fff;
	margin: 0;
}

.company .body {
	padding-bottom: 1em;
}

/* B2B SOLUTION */
.b2bsolution #slide1{
	background:	none;
	color: #fff;
	margin: 0;
}

.b2bsolution .body {
	padding-bottom: 1em;
	font-size: 0.9em;
}

.b2bsolution .unit-spacer {
	padding: 0;
}

/* COPYRIGHT */
#slide2 {
	color: #FFF;
	text-align: center;
	vertical-align: middle;
	padding: 1em;
}

#slide2 .body {
	color: #FFF;
	font-family: 'Lato', sans-serif;
text-transform: uppercase;
font-weight: 300;
text-align: center;
font-size: 0.7em;
}

/* 213 PX */
@media only screen and (min-width: 13em) {
	.mobile {
		display: none
	}
	.desktop {
		display: block;
	}
	.flex-logo {
		padding: 1em 0.5em;
	}
}

/* 240 PX */
@media only screen and (min-width: 15em) {
}

/* 320 PX */
@media only screen and (min-width: 20em) {
	.flex-logo {
padding: 0.55em 0.5em;
}
.st-content-inner {
padding: 2em 2em 0!important;
}
header {
margin: -2em;
}
.st-menu {
width: 240px!important;
}
.st-effect-3.st-menu-open .st-pusher {
-webkit-transform: translate3d(-240px, 0, 0)!important;
transform: translate3d(-240px, 0, 0)!important;
}
}

/* 360 PX */
@media only screen and (min-width: 22.5em) {
	.flex-logo {
padding: 0.3em 0.5em;
}
}

/* 414 PX */
@media only screen and (min-width: 25em) {
	.st-content-inner {
padding: 3em 2em 0!important;
}
header {
margin: -3em -2em;
}
}

/* 533 PX */
@media only screen and (min-width: 33em) {
}

/* 720 PX */
@media only screen and (min-width: 45em) {
#slide1{
	background:url('../img/apps.png') 85% 0 no-repeat fixed;
	color: #fff;
	margin: 0;
	background-size: contain;
}
}

/* 1024 PX */
@media only screen and (min-width: 64em) {
	.app .flex-img {
width: 45%;
margin-bottom: 0;
margin-right: 0.5em;
}
.app .appstore-img {
width: 50%;
}
.st-content-inner {
padding: 0!important;
}
header {
margin: 0;
}
}

/*1920 PX */
@media only screen and (min-width: 20em) {
}