<!DOCTYPE html>
<html lang="en">
<head>
<meta name="google-site-verification" content="FnXJHTCEZlaEbRF-kHwy0RIBk8bQ4uhJZ2j--Wnddrk" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="robots" content="noarchive">
<meta name="description" content="{{page.meta}}">
<meta name="keywords" content="{{page.keyword}}">
<title>{% if page.title %}{{page.title}}{%endif%}{% if page.title == null %}{% endif %}</title>

<meta name="handheldfriendly" content="true">
<meta name="mobileoptimized" content="240">
<meta name="viewport" content="width=device-width" />

<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">

  <script type="application/ld+json">
{
  "@context" : "http://schema.org",
  "@type" : "LocalBusiness",
  "name" : "DPS Orginal",
  "image" : "http://www.dpsoriginal.com/img/logo-1.svg",
  "telephone" : "613 555 5555.",
  "email" : "media@dpsoriginal.com",
  "address" : {
    "@type" : "PostalAddress",
    "streetAddress" : "343 Preston St",
    "addressLocality" : "Ottawa",
    "addressRegion" : "ON",
    "postalCode" : "K1S 1N4"
  }
}
</script>
</head>

<body>
{{content}}

{% include footer.html %}


</body>
</html>
